<div>
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="surname">Surname</label>
      <input id="surname" type="text" formControlName="surname">
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <div>
      <button type="submit">Register</button>
    </div>
  </form>
  <div>
    <a routerLink="login">Already have an account? Click here!</a>
  </div>
</div>
